:root {
    --bg-color: #f6f8fd;
    --nav-color: white;
    --header-color: white;
    --border-color: #c4c4c4;
    --active-color: #568fe4;
    --strong-text-color: #526276;
    --faded-text-color: #c5c5c5;
    --active-hover-color: #f6f8fd;
    
    --red-color: #da6968;
    --blue-color: #5ea9ef;
    --yellow-color: #f0c56e;
    --green-color: #aecb5e;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    background-color: var(--bg-color);
}

header {
    z-index: 100;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: var(--header-color);
    -webkit-box-shadow: 0px 2px 19px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 19px 1px rgba(0, 0, 0, 0.1);
}

.main_nav {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: calc(100vh - 100px);
    background-color: var(--nav-color);
    border-right: 1px solid var(--border-color);
}

.main_nav ul {
    padding-left: 0;
    list-style: none;
    color: var(--faded-text-color);
}
.main_nav ul li {
    cursor: pointer;
    font-weight: 500;
}

.main_nav ul li:hover {
    background-color: var(--active-hover-color);
}

.nav-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0 10px 15px;
}

.nav-item .material-icons {
    margin-right: 10px;
}

.nav-item--active {
    background-color: var(--active-hover-color);
    color: var(--active-color);
}

.app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    position: relative;
    height: calc(100vh - 100px);
}

.app-item {
    width: 90vw;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    max-width: 480px;
    background: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
            box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
}

.app-item_title .material-icons {
    font-size: 70px;
    font-weight: 100;
    margin-right: 10px;
}

.app-item_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0;
    font-size: 40px;
    font-weight: 300;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.app-item_description {
    margin: 30px 0;
    padding: 0 50px;
    text-align: center;
    color: var(--strong-text-color);
}

.app-item_number {
    font-size: 40px;
}

.app-item_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 20px;
    font-size: 17px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 0 20px 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    color: var(--strong-text-color);
    border-top: 1px solid var(--border-color);
}

.app-item:hover {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.6);
            box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.6);
}

.contents, main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

main {
    margin: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 100px);
}

.contents {
    gap: 30px;
}

.red-text {
    color: var(--red-color);
}
.green-text {
    color: var(--green-color);
}
.blue-text {
    color: var(--blue-color);
}
.yellow-text {
    color: var(--yellow-color);
}

.header_icons {
    gap: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu {
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.menu ul {
    opacity: 0;
    z-index: 10;
    padding: 0px;
    list-style: none;
    visibility: hidden;
    position: absolute;
    top: 100%; left: 0;
    text-align: center;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background-color: var(--header-color);
}
.menu ul li {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
}
.menu ul li:hover {
    background-color: var(--active-hover-color);
}
.menu--active ul {
    opacity: 1;
    visibility: visible;
}
.menu .chevron {
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
.menu--active .chevron {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
}
.menu_name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.nav_bottom {
    margin-top: auto;
    color: var(--faded-text-color);
}

.main_footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--strong-text-color);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

main {
    position: relative;
    padding-bottom: 40px;
}
.username {
    display: block;
}
.logo-mini {
    display: none;
}
.menu_mobile {
    display: none;
}

@media (max-width: 568px) {
    .username {
        display: none;
    }

    .main_nav {
        z-index: 9;
        position: absolute;
        -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
                transform: translateX(-100%);
        -webkit-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

    .logo-mini {
        display: block;
    }

    .menu_mobile {
        z-index: 10;
        display: block;
        position: fixed;
        top: 120px; left: 10px;
    }
    .menu_mobile .material-icons {
        font-size: 40px;
    }
    .main_nav--open {
        -webkit-transform: translateX(0%);
            -ms-transform: translateX(0%);
                transform: translateX(0%);
    }

    .logo {
        display: none;
    }

    .app-item {
        height: 330px;
    }

    main {
        padding-bottom: 20px;
    }

    .menu ul {
        right: 0;
        left: unset;
    }
}